[Unit]
Description=Manage system theme

[Service]
Type=oneshot
ExecStart=/usr/bin/nebula themes set-plasma AshyDecay breeze-dark Breeze_Light /usr/share/umbra/wallpapers/tux.jpg
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
