[Unit]
Description=Manage system theme

[Service]
Type=oneshot
#ExecStart=/usr/bin/nebula themes set-gnome <icons> <wallpaper-dark> <wallpaper-light> <cursor> <theme> <dconf_path>
ExecStart=/usr/bin/nebula themes set-gnome Papirus-Dark /usr/share/umbra/wallpapers/tux.jpg /usr/share/umbra/wallpapers/tux.jpg Sweet-cursors Catppuccin-Dark
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
