[Unit]
Description=Manage system theme

[Service]
Type=oneshot
ExecStart=nebula -t
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
