# This is needed because SDDM themes are only loaded from /usr/share/sddm/themes. Due to the nature of Fedora Atomic
# (and therefore Umbra), a mount from a writable path is required as a workaround. This will be removed when SDDM
# gets an option implemented to load themes from Atomic-friendly locations (e.g. /usr/local/share/sddm/themes)
# Special thanks to the Universal Blue project for figuring it out!

[Unit]
Description=KDE writable sddm workaround
RequiresMountsFor=/usr /var
ConditionPathExists=/usr/share/sddm
ConditionPathExists=/var/sddm_themes/themes
ConditionPathExists=/var/sddm_themes/themes.work

[Mount]
Type=overlay
What=overlay
Where=/usr/share/sddm/themes
Options=lowerdir=/usr/share/sddm/themes,upperdir=/var/sddm_themes/themes,workdir=/var/sddm_themes/themes.work

[Install]
WantedBy=multi-user.target
